.sectionThree {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 1px 100px 0 100px;

  /* kondisi awal sebelum muncul */
  opacity: 0;
  filter: blur(10px);
  transform: translateY(30px);
  transition: all 1s linear;
}

.sectionThree.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

.titlePlan {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.subtextPlan {
  color: #6c6c6c;
  margin-bottom: 50px;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.boxPlanContainer {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  background: #fff;
  border-radius: 10px;
  padding: 0;
}

.planItem {
  max-width: 347px;
  max-height: 628px;
  width: 100%;
  flex: 1;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 12.8px 64px;
  transition-duration: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.planItem:hover {
  border: 2px solid #f53838;
}

.boxImagePlan img {
  width: 100%;
  max-width: 146px;
  height: auto;
  margin-bottom: 20px;
}

.boxTitlePlan {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
}

.boxWrapperPlanOne {
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  max-width: 347px;
  width: 100%;
  max-height: 628px;
  height: 100%;
}

.boxWrapperPlanTwo {
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  max-width: 347px;
  width: 100%;
  max-height: 628px;
  height: 100%;
}

.boxWrapperPlanThree {
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  max-width: 347px;
  width: 100%;
  max-height: 628px;
  height: 100%;
}

.boxListPlanItem {
  line-height: 30px;
  display: flex;
  gap: 10px;
}

.boxListPlanItem::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url("/img/checklist-plan.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}
.boxListPlanItem figcaption {
  font-family: "rubik", sans-serif;
  color: #4f5665;
  font-size: 16px;
}

.boxListPlanBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.boxPricePlan {
  font-family: "rubik";
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.button {
  max-width: 176px;
  width: 100%;
  padding: 8px 50px;
  border-radius: 25px;
  border: 2px solid #f53838;
  background-color: transparent;
  color: #f53838;
  cursor: pointer;
  font-family: "rubik";
  font-size: 17.6px;
  font-weight: 400;
  transform: scale(1);
  transition: all 0.3s cubic-bezier(1, 0, 0, 1);
}

.button:hover {
  background: red;
  color: white;
}

@media screen and (max-width: 768px) {
  .sectionThree {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .titlePlan {
    width: 225px;
    line-height: 40px;
  }

  .subtextPlan {
    width: 223px;
    line-height: 20px;
    font-size: 14px;
    margin: 10px;
  }

  .boxPlanContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 100%;
  }

  .planItem {
    margin: 0;
    padding: 0 45px;
  }

  .boxImagePlan img {
    padding: 10px 0;
    width: 100%;
  }

  .boxTitlePlan {
    font-size: 19px;
  }

  .boxListPlanItem figcaption {
    font-size: 13px;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
  }

  .boxListPlanItem {
    line-height: normal;
  }

  .boxListPlanBottom {
    margin-bottom: 12px;
  }

  .button {
    padding: 6px 40px;
  }
}
