* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  overflow-x: hidden; /* cegah scroll horizontal */
  margin: 0;
}
@font-face {
  font-family: "rubik";
  src: url(/font/rubik/Rubik-Regular.woff) format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "rubik";
  src: url(/font/rubik/Rubik-Medium.woff) format("woff");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "rubik";
  src: url(/font/rubik/Rubik-Bold.woff) format("woff");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "rubik";
  src: url(/font/rubik/Rubik-Light.woff) format("woff");
  font-style: normal;
  font-weight: 300;
}
